.card {
	position: relative;
	display: grid;
	border-radius: 5px;
	overflow: hidden;
	transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);

	&:hover::after {
		content: "";
		background-color: #000;
		opacity: 0.6;
		grid-area: 1/-1;
	}

	.card_content {
		display: flex;
		flex-direction: column;
		height: 100%;
		z-index: 1;
	}
	.card_thumb,
	.card_content {
		grid-column: 1/2;
		grid-row: 1/2;
	}
}
